{% extends "users/base_users.html" %}
{% load static %}
{% load tz %}

{% block styles %}
{% endblock %}

{% block content %}
    {% include 'services/alerts.html' %}
    {% csrf_token %}
    <div class="page-header">
        <h1>
            <i class="fa fa-road page-header-icon"></i>
            <strong>&nbsp;&nbsp;Scheduled Routes</strong>
        </h1>
    </div> <!-- / .page-header -->

    <div class="row">
        <div class="col-md-12">
            <ul id="uidemo-tabs-default-demo" class="nav nav-tabs">
            {% for technician in technicians %}
                {% if forloop.first %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                        <a href="#uidemo-tabs-{{ technician.id }}" data-toggle="tab">{{ technician.first_name }}</a>
                    </li>
            {% endfor %}
            </ul>

            <div class="panel">
                <div class="tab-content tab-content-bordered">
                {% for technician in technicians %}
                    {% if forloop.first %}
                    <div class="tab-pane fade active in" id="uidemo-tabs-{{ technician.id }}">
                    {% else %}
                    <div class="tab-pane fade" id="uidemo-tabs-{{ technician.id }}">
                    {% endif %}

                        <br>
                        <br>
                        <div class="timeline">
                            <!-- Timeline header -->
                            <div class="tl-header now bg-primary">Route Today</div>

                            {% for route in technician.routes %}
                                <div class="tl-entry">
                                    <div class="tl-time">
                                        {{ forloop.counter }}
                                    </div>

                                    <div class="panel tl-body">
                                        <h3 class="text-warning">{{ route.service.type.name }}</h3>
                                        <strong>Description of Service:</strong>&nbsp;{{ route.service.detail }}
                                        <br>
                                        <strong>Client:</strong> {{ route.service.client.user.first_name }}&nbsp;{{ route.service.client.user.last_name }}
                                        <br>
                                        <strong>Address:</strong> {{ route.service.client.address }}
                                        <br>
                                        <h4><strong>Date/Time for Service:</strong> {{ route.service.demand }}</h4>
                                        <br>
                                        {% if route.service.state == 'P' %}
                                            <a href="{% url 'routes:attend_service' route.id %}" class="btn btn-sm btn-rounded btn-primary">Attend</a>
                                        {% else %}
                                            <a href="" class="btn btn-sm btn-rounded btn-primary disabled">Attended</a>
                                        {% endif %}
                                    </div> <!-- / .tl-body -->
                                </div> <!-- / .tl-entry -->
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                </div> <!-- / .tab-content -->
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var init = [];
        init.push(function ()
        {
            $('#op_routes').addClass("active");
        });
        window.PixelAdmin.start(init);
    </script>

{% endblock %}