{% load static %}

<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SIAR</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <!-- Open Sans font from Google CDN -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
        <!-- Pixel Admin's stylesheets -->
        <link rel="stylesheet" href="{% static 'stylesheets/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'stylesheets/pixel-admin.min.css' %}">
        <link rel="stylesheet" href="{% static 'stylesheets/pages.min.css' %}">
        <link rel="stylesheet" href="{% static 'stylesheets/rtl.min.css' %}">
        <link rel="stylesheet" href="{% static 'stylesheets/themes.min.css' %}">
        <!--[if lt IE 9]>
            <script src="{% static 'javascripts/ie.min.js' %}"></script>
        <![endif]-->
    </head>

    <body class="theme-asphalt page-signin">
        <!-- Page background -->
        <div id="page-signin-bg">
            <!-- Background overlay -->
            <div class="overlay"></div>
            <!-- Replace this with your bg image -->
            <img src="{% static 'images/bg_routes.jpg' %}" alt="">
        </div>
        <!-- / Page background -->
        <!-- Container -->
        <div class="signin-container">
            <!-- Left side -->
            <div class="signin-info">
                <a href="{% url 'login' %}" class="logo">

                    <div style="text-align: center;">
                        <a href="{% url 'login' %}">
                            <img class="img-responsive" src="{% static 'images/route.png' %}" alt="">
                        </a>
                    </div>&nbsp;
                </a> <!-- / .logo -->
            </div>
            <!-- / Left side -->
            <!-- Right side -->
            <div class="signin-form">
                <div id="alerts">
                {% if messages  %}
                    {% for message in messages %}
                        <div class="alert alert-danger fade in">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>Error!</strong> {{message}}.
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
                <!-- Form -->
                <form method="POST" id="signin-form_id">
                    {% csrf_token %}
                    <div class="signin-text">
                        <span>Login with your account</span>
                    </div> <!-- / .signin-text -->
                    <div class="form-group w-icon">
                        <input type="text" name="signin_username" id="username_id" class="form-control input-lg" placeholder="email">
                        <span class="fa fa-user signin-form-icon"></span>
                    </div> <!-- / Username -->
                    <div class="form-group w-icon">
                        <input type="password" name="signin_password" id="password_id" class="form-control input-lg" placeholder="Password">
                        <span class="fa fa-lock signin-form-icon"></span>
                    </div> <!-- / Password -->
                    <div class="form-actions">
                        <input type="submit" value="Login" class="signin-btn bg-primary">
                    </div> <!-- / .form-actions -->
                </form>
                <!-- / Password reset form -->
            </div>
            <!-- Right side -->
        </div>
    <!-- Get jQuery from Google CDN -->
    <!--[if !IE]> -->
        <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">'+"<"+"/script>"); </script>
    <!-- <![endif]-->
    <!--[if lte IE 9]>
        <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
    <![endif]-->

    <!-- Pixel Admin's javascripts -->
        <script src="{% static 'javascripts/bootstrap.min.js' %}"></script>
        <script src="{% static 'javascripts/pixel-admin.min.js' %}"></script>
        <script type="text/javascript">
            var init = [];

            init.push(function ()
            {
                var $ph  = $('#page-signin-bg'),
                    $img = $ph.find('> img');

                $(window).on('resize', function ()
                {
                    $img.attr('style', '');
                    if ($img.height() < $ph.height())
                    {
                        $img.css({
                                    height: '100%',
                                    width: 'auto'
                                 });
                    }
                });
            });

            window.PixelAdmin.start(init);
        </script>
    </body>
</html>
