{% extends 'services/base_crud_service.html' %}

{% block title_form_service %}
    <i class="fa fa-plus-square page-header-icon"></i>&nbsp;Add Service
{% endblock %}

{% block button_action_service %}
    <button type="submit" class="btn btn-primary">Save</button>
{% endblock %}