{% extends 'users/base_users.html' %}
{% load static %}
{% block styles %}
{% endblock %}

{% block content %}
    {% include 'services/alerts.html' %}
    <div class="page-header">
        <div class="row">
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm">
                <i class="fa fa-cogs page-header-icon"></i>
                <strong>&nbsp;&nbsp;Service Administration</strong>
            </h1>
        </div>
    </div>
    <div class="profile-full-name">
        <span class="text-semibold">
            {% block title_form_service %}
            {% endblock %}
        </span>
    </div>
    <div class="profile-row">
        <div class="left-col">
            <div class="profile-block">
                <div class="panel profile-photo">
                    <img src="{% static 'images/service.jpg' %}" alt="Photo Service">
                </div>
            </div>
        </div>
        <div class="right-col">
            <hr class="profile-content-hr no-grid-gutter-h">
            <div class="profile-content">
                <div class="panel">
                    <br><br>
                    <form method="post" id="form_service" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% include 'services/form_service.html' %}
                        <br>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                {% block button_action_service %}
                                {% endblock %}
                                <a href="{% url 'services:list_services' %}">
                                    <button type="button" class="btn btn-danger">Cancel</button>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        init.push(function ()
        {
            var date = new Date()
            //var str_date = date.getDate().toString()
            $('body').addClass("page-profile");
            $('#op_services').addClass("active");
            $('#id_demand').attr('type', 'datetime-local')
            //$('#id_demand').val(str_date)
        });

        window.PixelAdmin.start(init);
    </script>

    {% block scripts_crud %}
    {% endblock %}
{% endblock %}






