{% extends 'users/base_users.html' %}

{% block styles %}
{% endblock %}

{% block content %}
    {% include 'services/alerts.html' %}
    <div class="page-header">
        <div class="row">
            <!-- Page header, center on small screens -->
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm">
                <i class="fa fa-cogs page-header-icon"></i>
                <strong>&nbsp;&nbsp;Service Administration</strong>
            </h1>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <hr class="visible-xs no-grid-gutter-h">
                    <!-- "Create project" button, width=auto on desktops -->
                    <div class="pull-right col-xs-12 col-sm-auto">
                        <a href="{% url 'services:add_service' %}">
                            <button class="btn  btn-labeled btn-primary" >
                               <span class="btn-label icon fa fa-plus"></span>
                                Add Service
                            </button>&nbsp;&nbsp;
                        </a>
                    </div>
                    <!-- Margin -->
                    <div class="visible-xs clearfix form-group-margin"></div>
                    <!-- Search field -->
                </div>
            </div>
        </div>
    </div> <!-- / .page-header -->
    <!-- / Javascript -->
    <div class="panel">
        <div class="panel-body">
            <div class="table-primary">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="jq-datatables-example">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Type</th>
                            <th>Detail</th>
                            <th>Client</th>
                            <th>Address</th>
                            <th>Demand</th>
                            {#<th>Opciones</th>#}
                        </tr>
                    </thead>
                    <tbody>
                    {% for service in services %}
                        <tr class="odd gradeX">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ service.type.name }}</td>
                            <td>{{ service.detail }}</td>
                            <td>{{ service.client.user.first_name }}&nbsp;{{ service.client.user.last_name }}</td>
                            <td>{{ service.client.address }}</td>
                            <td>{{ service.demand }}</td>
                            {% comment %}<td>
                                <div class="btn-group" >
                                    <a href="" class="btn btn-primary">View</a>
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" style="z-index: 100 !important;">
                                        <li><a href="">Update</a></li>
                                        <li><a href="">Delete</a></li>
                                    </ul>
                                </div>&nbsp;
                            </td>{% endcomment %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        init.push(function ()
        {
            $('#jq-datatables-example').dataTable();
            $('#jq-datatables-example_wrapper .table-caption').text('List of Services');
            $('#jq-datatables-example_wrapper .dataTables_filter input').attr('placeholder', 'Find...');
        });
    </script>
{% endblock %}